{% extends 'base.html.twig' %}

{% block title %}Edit BoiteDeVitesse{% endblock %}

{% block body %}
    <h1>Edit BoiteDeVitesse</h1>

    {{ include('boite_de_vitesses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_boite_de_vitesses_index') }}">back to list</a>

    {{ include('boite_de_vitesses/_delete_form.html.twig') }}
{% endblock %}
