{% extends 'base.html.twig' %}

{% block title %}New LivraisonCentre{% endblock %}

{% block body %}
    <h1>Create new LivraisonCentre</h1>

    {{ include('livraison_centres/_form.html.twig') }}

    <a href="{{ path('app_livraison_centres_index') }}">back to list</a>
{% endblock %}
