{% extends 'base.html.twig' %}

{% block title %}Edit Carrosserie{% endblock %}

{% block body %}
    <h1>Edit Carrosserie</h1>

    {{ include('carrosseries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_carrosseries_index') }}">back to list</a>

    {{ include('carrosseries/_delete_form.html.twig') }}
{% endblock %}
