// assets/styles/main.scss

// customize some Bootstrap variables
//$primary: $gray-900;
//$secondary: #ff7a0a;


// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "../sb-admin2/scss/variables.scss";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "orange2": $orange2,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
);

// Import Custom SB Admin 2 Mixins and Components
@import "../sb-admin2/scss/mixins.scss";
@import "../sb-admin2/scss/global.scss";
@import "../sb-admin2/scss/utilities.scss";

// Custom Components
@import "../sb-admin2/scss/dropdowns.scss";
@import "../sb-admin2/scss/navs.scss";
@import "../sb-admin2/scss/buttons.scss";
@import "../sb-admin2/scss/cards.scss";
@import "../sb-admin2/scss/charts.scss";
@import "../sb-admin2/scss/login.scss";
@import "../sb-admin2/scss/error.scss";
@import "../sb-admin2/scss/footer.scss";


//@import "~fontawesome-free/scss/fontawesome.scss";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

// Bootstrap tables
@import "~bootstrap-table/src/bootstrap-table";
@import "~leaflet/dist/leaflet.css";

table th.detail{
    background-color: $secondary;
}

.row, .form-row{
    .form-group {
        & > label{
            font-weight: bold;
            color: $dark;
        }

        & > legend{
            font-weight: bold;
            color: $dark;
        }
    }
}

#map {
    height: 70vh;
}

