<form method="post" class="d-inline" action="{{ path('app_portes_delete', {'id': porte.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ porte.id) }}">
    <button class="btn btn-outline-danger">
        <i class="fa fa-trash"></i>&nbsp;{{ "Delete" | trans }}
    </button>
</form>
